<h4> The <font color="red">*</font> indicates mandatory fields </h4> 
<body bgcolor="lavender"> 
	<% if @student.errors.any? %>
	<div student.="error_explanation">
		<% @student.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</div>
	<% end %>
	<%= form_with(model: @student, local: true) do |form| %>
	<p>
		<%= form.label :first_name %><font color="red">*</font> &emsp;&emsp;&emsp;	
		<%= form.text_field :firstname %>
	</p>


	<p>
		<%= form.label :student_address %> &emsp;&nbsp;
		<%= form.text_field :address %>
	</p>


	<p>
		<%= form.label :student_age %> <font color="red">*</font> &emsp;&emsp;	
		<%= form.text_field :age %>
	</p>


	<p>	
		<%= form.label :student_gender %><font color="red">*</font> &emsp;
		<%= form.select :gender, %w{Male Female}, :prompt => 'Select', required: true, placeholder: 'Student', class: 'form-control' %>
		<!-- <%= form.text_field :gender %>  -->
	</p>
	<p>
		<%= form.label :student_college %><font color="red">*</font> &nbsp;&nbsp;
	  <%= form.collection_select :college_id, College.order(:name),:id,:name, include_blank: true %> 
	
	</p>

	<p>
		<%= form.label :last_name %> &emsp;&emsp;	&nbsp;&nbsp;		
		<%= form.text_field :lastname %>
	</p>

	<p>
		<%= form.label :email_id %><font color="red">*</font>	&emsp;&emsp;&emsp;&emsp;	
		<%= form.text_field :email %>
	</p>


	<p>
		<%= form.submit %>
	</p>
	<% end %>

	<%= link_to  'HOME', students_path %>

